CDS.solutions/MediaEventProductSales/Extracts/Base/Workflows/FL-MediaEvent-AutoCreateEventAttraction-309C3864-1E83-EA11-A812-000D3A5BF119.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Media_Event_is_Created":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":1,"subscriptionRequest/entityname":"msmedia_mediaevent","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Ticketing_Required_equals_Event_Level":{"actions":{"Retrieve_Main_Event_Attractions":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_attractions","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\" top=\"1\">\n  <entity name=\"msmedia_attraction\">\n    <attribute name=\"msmedia_attractionid\" />\n    <attribute name=\"msmedia_name\" />\n    <attribute name=\"createdon\" />\n    <order attribute=\"msmedia_name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"msmedia_type\" operator=\"eq\" value=\"766860011\" />\n    </filter>\n  </entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}},"Check_Collection_Length_is_greater_than_0":{"actions":{"Set_Main_Event_Variable_to_Retrieved_Record":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Main Attraction","value":"@{outputs('Retrieve_Main_Event_Attractions')?['body/value']?[0]?['msmedia_attractionid']}"}}},"runAfter":{"Retrieve_Main_Event_Attractions":["Succeeded"]},"else":{"actions":{"Create_new_Attraction":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_attractions","item/msmedia_name":"Main Event","item/msmedia_type":766860011},"authentication":"@parameters('$authentication')"}},"Set_Main_Event_Variable_to_Created_Record":{"runAfter":{"Create_new_Attraction":["Succeeded"]},"type":"SetVariable","inputs":{"name":"Main Attraction","value":"@outputs('Create_new_Attraction')?['body/msmedia_attractionid']"}}}},"expression":{"greater":["@length(outputs('Retrieve_Main_Event_Attractions')?['body/value'])",0]},"type":"If"},"Create_Event_Attraction":{"runAfter":{"Check_Collection_Length_is_greater_than_0":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_eventattractions","item/msmedia_Attraction@odata.bind":"msmedia_attractions(@{variables('Main Attraction')})","item/msmedia_MediaEvent@odata.bind":"msmedia_mediaevents(@{triggerOutputs()?['body/msmedia_mediaeventid']})","item/msmedia_name":"Main Event Attraction","item/msmedia_ismainattraction":true,"item/msmedia_MediaVenue@odata.bind":"msmedia_mediavenues(@{triggerOutputs()?['body/_msmedia_primaryvenue_value']})","item/msmedia_mediavenueseatmap@odata.bind":"msmedia_mediavenueseatmaps(@{triggerOutputs()?['body/_msmedia_mediavenueseatmap_value']})"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Initialize_Main_Attraction_Variable":["Succeeded"]},"expression":{"equals":["@triggerOutputs()?['body/msmedia_ticketingrequired']",766860001]},"type":"If"},"Initialize_Main_Attraction_Variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"Main Attraction","type":"string"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}