CDS.solutions/MediaEventProductSales/Extracts/Base/Workflows/GenerateAdmissions-90A4F0C9-8188-EA11-A812-000D3A33F58E.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"invoker","connection":{},"api":{"name":"shared_commondataservice"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"splitOn":"@triggerBody()['rows']","type":"Request","kind":"ApiConnection","inputs":{"schema":{"type":"object","properties":{"rows":{"type":"array","items":{"type":"object","properties":{"entity":{"type":"object","properties":{"msmedia_admissionsautocreated":{"title":"Admissions Auto-Created","type":"boolean"},"msmedia_ticketingrequired":{"title":"Ticketing Required Value","type":"integer","format":"int32"},"msmedia_mediaeventid":{"title":"Media Event","type":"string","format":"guid"}},"required":["msmedia_admissionsautocreated","msmedia_ticketingrequired","msmedia_mediaeventid"]}},"required":["entity"]}}},"required":["rows"]},"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"operationId":"GetOnNewItems_V2","parameters":{"dataset":"default.cds","table":"msmedia_mediaevents"}}}},"actions":{"Is_Admission_Auto-created_set_to_false":{"actions":{"Is_Ticketing_set_to_event_level":{"actions":{"List_records_for_Event_Attractions":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_eventattractions","$filter":"_msmedia_mediaevent_value  eq '@{triggerBody()?['entity']?['msmedia_mediaeventid']}'  and msmedia_ismainattraction eq true"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"do_event_attraction_records_exist":{"actions":{"Apply_to_each":{"foreach":"@outputs('List_records_for_Event_Attractions')?['body/value']","actions":{"Apply_to_each_2":{"foreach":"@outputs('List_records_for_Seats')?['body/value']","actions":{"List_records_3":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"products","$filter":"_msmedia_attraction_value eq '@{items('Apply_to_each')?['msmedia_eventattractionid']}' and _msmedia_seattier_value eq '@{items('Apply_to_each_2')?['_msmedia_seattier_value']}'","$orderby":"createdon asc","$top":1},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_3":{"foreach":"@outputs('List_records_3')?['body/value']","actions":{"Create_Admission_records":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_admissions","item/msmedia_EventAttraction@odata.bind":"/msmedia_eventattractions(@{items('Apply_to_each')?['msmedia_eventattractionid']})","item/msmedia_Product@odata.bind":"/products(@{items('Apply_to_each_3')?['productid']})","item/msmedia_MediaVenue@odata.bind":"/msmedia_mediavenues(@{items('Apply_to_each')?['_msmedia_mediavenue_value']})","item/msmedia_Seat@odata.bind":"/msmedia_seats(@{items('Apply_to_each_2')?['msmedia_seatid']})","item/msmedia_seatstatus":766860000},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Condition":{"actions":{"Update_a_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"products","recordId":"@outputs('Get_record')?['body/productid']","item/msmedia_startingquantity":"@add(float(body('Get_record')?['msmedia_startingquantity']),float(1))"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Get_record":["Succeeded"]},"else":{"actions":{"Update_a_record_2":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"products","recordId":"@outputs('Get_record')?['body/productid']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"not":{"equals":["@outputs('Get_record')?['body/msmedia_startingquantity']","@null"]}},"type":"If"},"Get_record":{"runAfter":{"Create_Admission_records":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"products","recordId":"@items('Apply_to_each_3')?['productid']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"List_records_3":["Succeeded"]},"type":"Foreach"}},"runAfter":{"List_records_for_Seats":["Succeeded"]},"type":"Foreach"},"List_records_for_Seats":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_seats","fetchXml":"<fetch>\n  <entity name=\"msmedia_seat\">\n    <attribute name=\"msmedia_seatid\" />\n    <attribute name=\"msmedia_name\" />\n    <attribute name=\"createdon\" />\n<attribute name=\"msmedia_seattier\" />\n    <order attribute=\"msmedia_name\" descending=\"false\" />\n    <link-entity name=\"msmedia_seatrow\" from=\"msmedia_seatrowid\" to=\"msmedia_seatrow\" link-type=\"inner\" alias=\"aa\">\n      <link-entity name=\"msmedia_seatsection\" from=\"msmedia_seatsectionid\" to=\"msmedia_seatsection\" link-type=\"inner\" alias=\"ab\">\n        <link-entity name=\"msmedia_seatmap\" from=\"msmedia_seatmapid\" to=\"msmedia_seatmap\" link-type=\"inner\" alias=\"ac\">\n          <link-entity name=\"msmedia_mediavenueseatmap\" from=\"msmedia_seatmap\" to=\"msmedia_seatmapid\" link-type=\"inner\" alias=\"ad\">\n            <link-entity name=\"msmedia_eventattraction\" from=\"msmedia_mediavenueseatmap\" to=\"msmedia_mediavenueseatmapid\" link-type=\"inner\" alias=\"ae\">\n              <filter type=\"and\">\n                <condition attribute=\"msmedia_eventattractionid\" operator=\"eq\" uiname=\"Main Event Attraction\" uitype=\"msmedia_eventattraction\" value='@{items('Apply_to_each')?['msmedia_eventattractionid']}'/>\n              </filter>\n            </link-entity>\n          </link-entity>\n        </link-entity>\n      </link-entity>\n    </link-entity>\n  </entity>\n</fetch>"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Update_Media_Event_Record":{"runAfter":{"Apply_to_each_2":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_mediaevents","recordId":"@outputs('Update_Media_Event_Auto_Created')?['body/msmedia_mediaeventid']","item/msmedia_totaladmissionsautocreated":"@length(body('List_records_for_Seats')?['value'])"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{},"type":"Foreach"}},"runAfter":{"Update_Media_Event_Auto_Created":["Succeeded"]},"expression":{"greater":["@length(body('List_records_for_Event_Attractions')?['value'])",0]},"type":"If"},"Update_Media_Event_Auto_Created":{"runAfter":{"List_records_for_Event_Attractions":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_mediaevents","recordId":"@triggerBody()?['entity']?['msmedia_mediaeventid']","item/msmedia_admissionsautocreated":true},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{},"else":{"actions":{"Is_ticketing_at_attraction_level":{"actions":{"List_records_Event_Attractions":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_eventattractions","$filter":"_msmedia_mediaevent_value  eq '@{triggerBody()?['entity']?['msmedia_mediaeventid']}' "},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Event_attraction_records_exist":{"actions":{"Apply_to_each_4":{"foreach":"@outputs('List_records_Event_Attractions')?['body/value']","actions":{"Apply_to_each_5":{"foreach":"@outputs('List_records_Seats')?['body/value']","actions":{"Apply_to_each_6":{"foreach":"@outputs('List_records_Products')?['body/value']","actions":{"Create_Admission_Record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_admissions","item/msmedia_EventAttraction@odata.bind":"/msmedia_eventattractions(@{items('Apply_to_each_4')?['msmedia_eventattractionid']})","item/msmedia_Product@odata.bind":"/products(@{items('Apply_to_each_6')?['productid']})","item/msmedia_MediaVenue@odata.bind":"/msmedia_mediavenues(@{items('Apply_to_each_4')?['_msmedia_mediavenue_value']})","item/msmedia_Seat@odata.bind":"/msmedia_seats(@{items('Apply_to_each_5')?['msmedia_seatid']})","item/msmedia_seatstatus":766860000},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Condition_2":{"actions":{"Update_a_record_4":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"products","recordId":"@outputs('Get_record_2')?['body/productid']","item/msmedia_startingquantity":"@add(float(body('Get_record_2')?['msmedia_startingquantity']),float(1))"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Get_record_2":["Succeeded"]},"else":{"actions":{"Update_a_record_3":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"products","recordId":"@outputs('Get_record_2')?['body/productid']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"not":{"equals":["@outputs('Get_record_2')?['body/msmedia_startingquantity']","@null"]}},"type":"If"},"Get_record_2":{"runAfter":{"Create_Admission_Record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"products","recordId":"@items('Apply_to_each_6')?['productid']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"List_records_Products":["Succeeded"]},"type":"Foreach"},"List_records_Products":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"products","$filter":"_msmedia_attraction_value eq '@{items('Apply_to_each_4')?['msmedia_eventattractionid']}' and _msmedia_seattier_value eq '@{items('Apply_to_each_5')?['_msmedia_seattier_value']}'","$orderby":"createdon asc","$top":1},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"List_records_Seats":["Succeeded"]},"type":"Foreach"},"List_records_Seats":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_seats","fetchXml":"<fetch>\n  <entity name=\"msmedia_seat\">\n    <attribute name=\"msmedia_seatid\" />\n    <attribute name=\"msmedia_name\" />\n    <attribute name=\"createdon\" />\n<attribute name=\"msmedia_seattier\" />\n    <order attribute=\"msmedia_name\" descending=\"false\" />\n    <link-entity name=\"msmedia_seatrow\" from=\"msmedia_seatrowid\" to=\"msmedia_seatrow\" link-type=\"inner\" alias=\"aa\">\n      <link-entity name=\"msmedia_seatsection\" from=\"msmedia_seatsectionid\" to=\"msmedia_seatsection\" link-type=\"inner\" alias=\"ab\">\n        <link-entity name=\"msmedia_seatmap\" from=\"msmedia_seatmapid\" to=\"msmedia_seatmap\" link-type=\"inner\" alias=\"ac\">\n          <link-entity name=\"msmedia_mediavenueseatmap\" from=\"msmedia_seatmap\" to=\"msmedia_seatmapid\" link-type=\"inner\" alias=\"ad\">\n            <link-entity name=\"msmedia_eventattraction\" from=\"msmedia_mediavenueseatmap\" to=\"msmedia_mediavenueseatmapid\" link-type=\"inner\" alias=\"ae\">\n              <filter type=\"and\">\n                <condition attribute=\"msmedia_eventattractionid\" operator=\"eq\" uiname=\"Main Event Attraction\" uitype=\"msmedia_eventattraction\" value='@{items('Apply_to_each_4')?['msmedia_eventattractionid']}'/>\n              </filter>\n            </link-entity>\n          </link-entity>\n        </link-entity>\n      </link-entity>\n    </link-entity>\n  </entity>\n</fetch>"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Update_Media_Event":{"runAfter":{"Apply_to_each_5":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_mediaevents","recordId":"@outputs('Update_Media_Event_Auto_Created_2')?['body/msmedia_mediaeventid']","item/msmedia_totaladmissionsautocreated":"@length(outputs('List_records_Seats')?['body/value'])"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{},"type":"Foreach"}},"runAfter":{"Update_Media_Event_Auto_Created_2":["Succeeded"]},"expression":{"greater":["@length(body('List_records_Event_Attractions')?['value'])",0]},"type":"If"},"Update_Media_Event_Auto_Created_2":{"runAfter":{"List_records_Event_Attractions":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_mediaevents","recordId":"@triggerBody()?['entity']?['msmedia_mediaeventid']","item/msmedia_admissionsautocreated":true},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{},"expression":{"equals":["@triggerBody()?['entity']?['msmedia_ticketingrequired']",766860002]},"type":"If"}}},"expression":{"equals":["@triggerBody()?['entity']?['msmedia_ticketingrequired']",766860001]},"type":"If"}},"runAfter":{},"expression":{"not":{"equals":["@triggerBody()?['entity']?['msmedia_admissionsautocreated']","@true"]}},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}