CDS.solutions/MediaEventProductSales/Extracts/Base/Workflows/GenerateSeatingProducts-1E269972-C98B-EA11-A812-000D3A5BF119.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"invoker","connection":{},"api":{"name":"shared_commondataservice"}},"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"splitOn":"@triggerBody()['rows']","type":"Request","kind":"ApiConnection","inputs":{"schema":{"type":"object","properties":{"rows":{"type":"array","items":{"type":"object","properties":{"entity":{"type":"object","properties":{"msmedia_mediaeventid":{"title":"Media Event","type":"string","format":"guid"},"msmedia_name":{"title":"Name","type":"string"},"_msmedia_mediavenueseatmap_value":{"title":"Media Venue Seat Map","type":"string","format":"guid"}},"required":["msmedia_mediaeventid","msmedia_name","_msmedia_mediavenueseatmap_value"]}},"required":["entity"]}}},"required":["rows"]},"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"operationId":"GetOnNewItems_V2","parameters":{"dataset":"default.cds","table":"msmedia_mediaevents"}}}},"actions":{"Initialize_Seat_Map_Variable":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"Seat Map","type":"string"}]}},"Initialize_Default_Unit_Group_Variable":{"runAfter":{"Initialize_Seat_Map_Variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Default Unit Group","type":"string"}]}},"Initialize_Default_Unit_Variable":{"runAfter":{"Initialize_Default_Unit_Group_Variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Default Unit","type":"string"}]}},"Initialize_Created_Product_Count":{"runAfter":{"Initialize_Default_Unit_Variable":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Created Product Count","type":"integer","value":0}]}},"Has_a_Media_Venue_Seat_Map_and_Seating_Options_is_Assigned":{"actions":{"Get_Associated_Products":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"products","$filter":"_msmedia_mediaevent_value eq '@{triggerBody()?['entity']?['msmedia_mediaeventid']}'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Does_not_have_existing_products":{"actions":{"Get_Media_Venue_Seat_Map":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_mediavenueseatmaps","recordId":"@triggerBody()?['entity']?['_msmedia_mediavenueseatmap_value']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Has_a_Seat_Map":{"actions":{"Set_Seat_Map_Variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Seat Map","value":"@outputs('Get_Media_Venue_Seat_Map')?['body/_msmedia_seatmap_value']"}},"Get_Seat_Tiers":{"runAfter":{"Set_Seat_Map_Variable":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_seattiers","$filter":"_msmedia_seatmap_value eq @{variables('Seat Map')}"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Has_more_than_one_Seat_Tier":{"actions":{"Retrieve_Default_Unit_Group":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"uomschedules","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\" top=\"1\">\n  <entity name=\"uomschedule\">\n    <attribute name=\"uomscheduleid\" />\n    <attribute name=\"name\" />\n    <order attribute=\"name\" descending=\"false\" />\n    <filter type=\"and\">\n      <condition attribute=\"name\" operator=\"eq\" value=\"Default Unit\" />\n    </filter>\n  </entity>\n</fetch>","$top":1},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Found_Default_Unit_Group":{"actions":{"Set_Default_Unit_Group_Variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Default Unit Group","value":"@{outputs('Retrieve_Default_Unit_Group')?['body/value']?[0]?['uomscheduleid']}"}},"Retrieve_Default_Unit":{"runAfter":{"Set_Default_Unit_Group_Variable":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"uoms","$filter":"_uomscheduleid_value eq @{variables('Default Unit Group')}"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Found_Default_Unit":{"actions":{"Set_Default_Unit_Variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Default Unit","value":"@{outputs('Retrieve_Default_Unit')?['body/value']?[0]?['uomid']}"}},"Create_a_product_for_each_Seat_Tier":{"foreach":"@outputs('Get_Seat_Tiers')?['body/value']","actions":{"Increment_Create_Product_Count_Variable":{"runAfter":{"Create_Product":["Succeeded"]},"type":"IncrementVariable","inputs":{"name":"Created Product Count","value":1}},"Create_Product":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"products","item/quantitydecimal":2,"item/defaultuomid@odata.bind":"uoms(@{variables('Default Unit')})","item/name":"@{triggerBody()?['entity']?['msmedia_name']} - @{items('Create_a_product_for_each_Seat_Tier')?['msmedia_name']} ","item/defaultuomscheduleid@odata.bind":"uomschedules(@{variables('Default Unit Group')})","item/msmedia_Attraction@odata.bind":"@if(empty(variables('Main Event Attractions')), '', concat('msmedia_eventattractions(',variables('Main Event Attractions'),')'))","item/msmedia_MediaEvent@odata.bind":"msmedia_mediaevents( @{triggerBody()?['entity']?['msmedia_mediaeventid']})","item/producttypecode":766860005,"item/msmedia_SeatTier@odata.bind":"msmedia_seattiers(@{items('Create_a_product_for_each_Seat_Tier')?['msmedia_seattierid']})","item/msmedia_tickettype":766860000},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Update_Media_Event_Products_Auto-Created":["Succeeded"]},"type":"Foreach"},"Update_Media_Event_Products_Auto-Created":{"runAfter":{"Set_Default_Unit_Variable":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_mediaevents","recordId":"@triggerBody()?['entity']?['msmedia_mediaeventid']","item/msmedia_seatproductsautocreated":true},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Update_Media_Event_Total_Seat_Products":{"runAfter":{"Create_a_product_for_each_Seat_Tier":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_mediaevents","recordId":"@triggerBody()?['entity']?['msmedia_mediaeventid']","item/msmedia_totalseatproductsautocreated":"@variables('Created Product Count')"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Retrieve_Default_Unit":["Succeeded"]},"expression":{"greater":["@length(outputs('Retrieve_Default_Unit')?['body/value'])",0]},"type":"If"}},"runAfter":{"Retrieve_Default_Unit_Group":["Succeeded"]},"expression":{"greater":["@length(outputs('Retrieve_Default_Unit_Group')?['body/value'])",0]},"type":"If"}},"runAfter":{"Get_Seat_Tiers":["Succeeded"]},"expression":{"greater":["@length(outputs('Get_Seat_Tiers')?['body/value'])",0]},"type":"If"}},"runAfter":{"Get_Media_Venue_Seat_Map":["Succeeded"]},"expression":{"not":{"equals":["@outputs('Get_Media_Venue_Seat_Map')?['body/_msmedia_seatmap_value']","@null"]}},"type":"If"}},"runAfter":{"Get_Associated_Products":["Succeeded"]},"expression":{"equals":["@length(outputs('Get_Associated_Products')?['body/value'])",0]},"type":"If"}},"runAfter":{"Initialize_Main_Event_Attractions":["Succeeded"]},"expression":{"and":[{"not":{"equals":["@outputs('Get_Current_Media_Event_Record')?['body/_msmedia_mediavenueseatmap_value']","@null"]}},{"equals":["@outputs('Get_Current_Media_Event_Record')?['body/msmedia_seatingoptions']",766860001]},{"or":[{"equals":["@outputs('Get_Current_Media_Event_Record')?['body/msmedia_seatproductsautocreated']","@null"]},{"equals":["@outputs('Get_Current_Media_Event_Record')?['body/msmedia_seatproductsautocreated']",false]}]}]},"type":"If"},"Get_Current_Media_Event_Record":{"runAfter":{"Initialize_Created_Product_Count":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_mediaevents","recordId":"@triggerBody()?['entity']?['msmedia_mediaeventid']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_list_record_of_Event_Attractions_":{"runAfter":{"Get_Current_Media_Event_Record":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_eventattractions","$filter":"_msmedia_mediaevent_value eq '@{outputs('Get_Current_Media_Event_Record')?['body/msmedia_mediaeventid']}' and msmedia_ismainattraction ne false","$top":1},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Initialize_Main_Event_Attractions":{"runAfter":{"Get_list_record_of_Event_Attractions_":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Main Event Attractions","type":"string","value":"@{if(empty(outputs('Get_list_record_of_Event_Attractions_')?['body/value']), '', string(first(outputs('Get_list_record_of_Event_Attractions_')?['body/value'])['msmedia_eventattractionid']))}"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}