CDS.solutions/MediaEventProductSales/Extracts/Base/Workflows/RemoveSeatingProducts-E5370DBB-C38B-EA11-A812-000D3A33F58E.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"invoker","connection":{},"api":{"name":"shared_commondataservice"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"splitOn":"@triggerBody()['rows']","type":"Request","kind":"ApiConnection","inputs":{"schema":{"type":"object","properties":{"rows":{"type":"array","items":{"type":"object","properties":{"entity":{"type":"object","properties":{"msmedia_seatproductsautocreated":{"title":"Seat Products Auto-Created","type":"boolean"},"msmedia_mediaeventid":{"title":"Media Event","type":"string","format":"guid"}},"required":["msmedia_seatproductsautocreated","msmedia_mediaeventid"]}},"required":["entity"]}}},"required":["rows"]},"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"operationId":"GetOnNewItems_V2","parameters":{"dataset":"default.cds","table":"msmedia_mediaevents"}}}},"actions":{"Seat_Products_Auto-Created_=_true":{"actions":{"Loop_through_all_related_seat_products":{"foreach":"@outputs('Get_Related_Products')?['body/value']","actions":{"Delete_Related_Seat_Products":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"products","recordId":"@items('Loop_through_all_related_seat_products')?['productid']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Get_Related_Products":["Succeeded"]},"type":"Foreach"},"Update_Media_Event":{"runAfter":{"Loop_through_all_related_seat_products":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_mediaevents","recordId":"@triggerBody()?['entity']?['msmedia_mediaeventid']","item/msmedia_totalseatproductsautocreated":0},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_Related_Products":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"products","$filter":"_msmedia_mediaevent_value eq '@{triggerBody()?['entity']?['msmedia_mediaeventid']}'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{},"expression":{"equals":["@triggerBody()?['entity']?['msmedia_seatproductsautocreated']","@true"]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}