CDS.solutions/MediaEventProductSales/Extracts/Base/Workflows/RemoveAdmissions-2F339A80-4C8A-EA11-A812-000D3A33F58E.json
{"properties":{"connectionReferences":{"shared_commondataservice_1":{"runtimeSource":"invoker","connection":{},"api":{"name":"shared_commondataservice"}},"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"splitOn":"@triggerBody()['rows']","type":"Request","kind":"ApiConnection","inputs":{"schema":{"type":"object","properties":{"rows":{"type":"array","items":{"type":"object","properties":{"entity":{"type":"object","properties":{"msmedia_admissionsautocreated":{"title":"Admissions Auto-Created","type":"boolean"},"msmedia_mediaeventid":{"title":"Media Event","type":"string","format":"guid"}},"required":["msmedia_admissionsautocreated","msmedia_mediaeventid"]}},"required":["entity"]}}},"required":["rows"]},"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice_1']['connectionId']"}},"operationId":"GetOnNewItems_V2","parameters":{"dataset":"default.cds","table":"msmedia_mediaevents"}}}},"actions":{"Admission_Auto-created_=_true":{"actions":{"Apply_to_each":{"foreach":"@outputs('List_of_Event_Attraction_Records')?['body/value']","actions":{"Apply_to_each_2":{"foreach":"@outputs('List_of_Admission_Records')?['body/value']","actions":{"Condition":{"actions":{"Update_Product":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"products","recordId":"@outputs('Get_Products')?['body/productid']","item/msmedia_startingquantity":"@sub(float(body('Get_Products')?['msmedia_startingquantity']),float(1))"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Delete_admission_Records":["Succeeded"]},"expression":{"and":[{"not":{"equals":["","@null"]}},{"greaterOrEquals":["",1]}]},"type":"If"},"Delete_admission_Records":{"runAfter":{"Get_Products":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_admissions","recordId":"@items('Apply_to_each_2')?['msmedia_admissionid']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_Products":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"products","recordId":"@items('Apply_to_each_2')?['_msmedia_product_value']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Apply_to_each_3":["Succeeded"]},"type":"Foreach"},"Apply_to_each_3":{"foreach":"@outputs('List_of_Admission_Records')?['body/value']","actions":{"Get_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"products","recordId":"@items('Apply_to_each_3')?['_msmedia_product_value']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"List_of_Admission_Records":["Succeeded"]},"type":"Foreach"},"List_of_Admission_Records":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_admissions","$filter":"_msmedia_eventattraction_value eq '@{items('Apply_to_each')?['msmedia_eventattractionid']}'","$orderby":"createdon asc","$top":1},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Apply_to_each_4":["Succeeded"]},"type":"Foreach"},"Apply_to_each_4":{"foreach":"@outputs('List_of_Event_Attraction_Records')?['body/value']","actions":{"Update_a_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_mediaevents","recordId":"@items('Apply_to_each_4')?['_msmedia_mediaevent_value']","item/msmedia_admissionsautocreated":false,"item/msmedia_totaladmissionsautocreated":0},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"List_of_Event_Attraction_Records":["Succeeded"]},"type":"Foreach"},"Update_Media_Event":{"runAfter":{"Apply_to_each":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_mediaevents","recordId":"@triggerBody()?['entity']?['msmedia_mediaeventid']","item/msmedia_totaladmissionsautocreated":0},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"List_of_Event_Attraction_Records":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_eventattractions","$filter":"_msmedia_mediaevent_value eq '@{triggerBody()?['entity']?['msmedia_mediaeventid']}'","$orderby":"createdon asc","$top":1},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{},"expression":{"equals":["@triggerBody()?['entity']?['msmedia_admissionsautocreated']","@true"]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}