CDS.solutions/MediaEventProductSales/Extracts/Base/Workflows/RemoveAdmissions-2F339A80-4C8A-EA11-A812-000D3A33F58E.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"invoker","connection":{},"api":{"name":"shared_commondataservice"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"splitOn":"@triggerBody()['rows']","type":"Request","kind":"ApiConnection","inputs":{"schema":{"type":"object","properties":{"rows":{"type":"array","items":{"type":"object","properties":{"entity":{"type":"object","properties":{"msmedia_admissionsautocreated":{"title":"Admissions Auto-Created","type":"boolean"},"msmedia_mediaeventid":{"title":"Media Event","type":"string","format":"guid"}},"required":["msmedia_admissionsautocreated","msmedia_mediaeventid"]}},"required":["entity"]}}},"required":["rows"]},"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"operationId":"GetOnNewItems_V2","parameters":{"dataset":"default.cds","table":"msmedia_mediaevents"}}}},"actions":{"Admission_Auto-created_=_true":{"actions":{"List_of_Event_Attraction_Records":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_commondataservice']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org2bb331aa.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('msmedia_eventattractions'))}/items","queries":{"$filter":"_msmedia_mediaevent_value eq '@{triggerBody()?['entity']?['msmedia_mediaeventid']}'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each":{"foreach":"@body('List_of_Event_Attraction_Records')?['value']","actions":{"List_of_Admission_Records":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_commondataservice']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org2bb331aa.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('msmedia_admissions'))}/items","queries":{"$filter":"_msmedia_eventattraction_value eq '@{items('Apply_to_each')?['msmedia_eventattractionid']}'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_2":{"foreach":"@body('List_of_Admission_Records')?['value']","actions":{"Condition":{"actions":{"Update_Product_":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_commondataservice']['connectionId']"}},"method":"patch","body":{"msmedia_startingquantity":"@sub(float(body('Get_Products')?['msmedia_startingquantity']),float(1))"},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('products'))}/items/@{encodeURIComponent(encodeURIComponent(body('Get_Products')?['productid']))}","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Delete_admission_Records":["Succeeded"]},"expression":{"and":[{"not":{"equals":["@body('Get_Products')?['msmedia_startingquantity']","@null"]}},{"greaterOrEquals":["@body('Get_Products')?['msmedia_startingquantity']",1]}]},"type":"If"},"Get_Products":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_commondataservice']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org2bb331aa.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('products'))}/items/@{encodeURIComponent(encodeURIComponent(items('Apply_to_each_2')?['_msmedia_product_value']))}","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Delete_admission_Records":{"runAfter":{"Get_Products":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"DeleteItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_commondataservice']['connectionId']"}},"method":"delete","path":"/datasets/@{encodeURIComponent(encodeURIComponent('default.cds'))}/tables/@{encodeURIComponent(encodeURIComponent('msmedia_admissions'))}/items/@{encodeURIComponent(encodeURIComponent(items('Apply_to_each_2')?['msmedia_admissionid']))}","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Apply_to_each_3":["Succeeded"]},"type":"Foreach"},"Apply_to_each_3":{"foreach":"@body('List_of_Admission_Records')?['value']","actions":{"Get_record":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_commondataservice']['connectionId']"}},"method":"get","path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org2bb331aa.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('products'))}/items/@{encodeURIComponent(encodeURIComponent(items('Apply_to_each_3')?['_msmedia_product_value']))}","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"List_of_Admission_Records":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Apply_to_each_4":["Succeeded"]},"type":"Foreach"},"Apply_to_each_4":{"foreach":"@body('List_of_Event_Attraction_Records')?['value']","actions":{"Update_a_record":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_commondataservice']['connectionId']"}},"method":"patch","body":{"msmedia_admissionsautocreated":false,"_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org2bb331aa.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('msmedia_mediaevents'))}/items/@{encodeURIComponent(encodeURIComponent(items('Apply_to_each_4')?['_msmedia_mediaevent_value']))}","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"List_of_Event_Attraction_Records":["Succeeded"]},"type":"Foreach"},"Update_Media_Event":{"runAfter":{"Apply_to_each":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"PatchItem_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['shared_commondataservice']['connectionId']"}},"method":"patch","body":{"msmedia_totaladmissionsautocreated":0,"_ownerid_type":""},"path":"/v2/datasets/@{encodeURIComponent(encodeURIComponent('org2bb331aa.crm'))}/tables/@{encodeURIComponent(encodeURIComponent('msmedia_mediaevents'))}/items/@{encodeURIComponent(encodeURIComponent(triggerBody()?['entity']?['msmedia_mediaeventid']))}","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{},"expression":{"equals":["@triggerBody()?['entity']?['msmedia_admissionsautocreated']","@true"]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}