CDS.solutions/MediaEventsVenues/Extracts/Base/Workflows/FL-EventAttractions-UpdateUserLocalStartdateandEnd-DAF465CA-3FB7-EB11-8236-000D3A5574F7.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"msmedia_sharedcommondataserviceforapps_5264d"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_Event_Attractions_Start_date_or_End_date_is_updated":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"msmedia_eventattraction","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"msmedia_enddate,msmedia_startdate"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_Event_Attractions":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_eventattractions","recordId":"@triggerOutputs()?['body/msmedia_eventattractionid']"},"authentication":"@parameters('$authentication')"}},"Check_if_Media_event_contains_data":{"actions":{"Get_Media_Event_record":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_mediaevents","recordId":"@outputs('Get_Event_Attractions')?['body/_msmedia_mediaevent_value']"},"authentication":"@parameters('$authentication')"}},"Check_if_TimeZone_contains_data":{"actions":{"Get_TimeZone_Definitions":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"timezonedefinitions","$filter":"timezonecode eq @{int(outputs('Get_Media_Event_record')?['body/msmedia_eventtimezone'])}"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_-_Set_Standard_TimeZone":{"foreach":"@outputs('Get_TimeZone_Definitions')?['body/value']","actions":{"Set_variable_-_TimeZone_Standard_name":{"runAfter":{},"type":"SetVariable","inputs":{"name":"StandardTimeZone","value":"@items('Apply_to_each_-_Set_Standard_TimeZone')?['standardname']"}}},"runAfter":{"Get_TimeZone_Definitions":["Succeeded"]},"type":"Foreach"},"Convert_time_zone_-_Start_Date":{"runAfter":{"Apply_to_each_-_Set_Standard_TimeZone":["Succeeded"]},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@{formatDateTime(outputs('Get_Event_Attractions')?['body/msmedia_startdate'],'g')}","formatString":"g","sourceTimeZone":"@variables('StandardTimeZone')","destinationTimeZone":"UTC"}},"Convert_time_zone_-_EndDate":{"runAfter":{"Convert_time_zone_-_Start_Date":["Succeeded"]},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@{formatDateTime(outputs('Get_Event_Attractions')?['body/msmedia_enddate'],'g')}","formatString":"g","sourceTimeZone":"@variables('StandardTimeZone')","destinationTimeZone":"UTC"}},"Update_EventAttractions_users_local_Start_date_and_End_date":{"runAfter":{"Convert_time_zone_-_EndDate":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_eventattractions","recordId":"@outputs('Get_Event_Attractions')?['body/msmedia_eventattractionid']","item/msmedia_enddateuserlocal":"@body('Convert_time_zone_-_EndDate')","item/msmedia_startdateuserlocal":"@body('Convert_time_zone_-_Start_Date')"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Get_Media_Event_record":["Succeeded"]},"expression":{"not":{"equals":["@outputs('Get_Media_Event_record')?['body/msmedia_eventtimezone']","@null"]}},"type":"If"}},"runAfter":{"Initialize_variable_-_StandardTimeZone":["Succeeded"]},"expression":{"and":[{"not":{"equals":["@outputs('Get_Event_Attractions')?['body/_msmedia_mediaevent_value']","@null"]}},{"not":{"equals":["@outputs('Get_Event_Attractions')?['body/msmedia_startdate']","@null"]}},{"not":{"equals":["@outputs('Get_Event_Attractions')?['body/msmedia_enddate']","@null"]}}]},"type":"If"},"Initialize_variable_-_StandardTimeZone":{"runAfter":{"Get_Event_Attractions":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"StandardTimeZone","type":"string"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}