CDS.solutions/MediaEventsVenues/Extracts/Base/Workflows/FL-MediaEvent-AssociatePrimaryVenue-F9AFA5E8-2983-EA11-A812-000D3A33F58E.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"msmedia_sharedcommondataserviceforapps_89bf1"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Media_Event_Created_or_Updated":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"msmedia_mediaevent","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"msmedia_primaryvenue"},"authentication":"@parameters('$authentication')"}}},"actions":{"Primary_Venue_is_not_null":{"actions":{"Get_the_Primary_Venue":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_mediavenues","recordId":"@triggerOutputs()?['body/_msmedia_primaryvenue_value']"},"authentication":"@parameters('$authentication')"}},"Relate_the_Primary_Venue_to_the_Media_Event":{"runAfter":{"Get_the_Primary_Venue":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"AssociateEntities","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_mediaevents","recordId":"@triggerOutputs()?['body/msmedia_mediaeventid']","associationEntityRelationship":"msmedia_MediaEvent_msmedia_MediaVenue_msm","item/@odata.id":"@outputs('Get_the_Primary_Venue')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"not":{"equals":["@triggerOutputs()?['body/_msmedia_primaryvenue_value']","@null"]}},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}