CDS.solutions/MediaEventsVenues/Extracts/Base/Workflows/FL-MediaEvent-UpdateIsOnlinecolumn-1BE49906-C1BC-EB11-8236-000D3A571A0E.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"msmedia_sharedcommondataserviceforapps_5264d"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_Media_Event's_Available_Format_is_added,_modified_":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"msmedia_mediaevent","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"msmedia_availableformats"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_a_row_by_ID_-_Get_Event_Data":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_mediaevents","recordId":"@triggerOutputs()?['body/msmedia_mediaeventid']","$select":"msmedia_availableformats"},"authentication":"@parameters('$authentication')"}},"Initialize_variable_-_Available_Formats":{"runAfter":{"Get_a_row_by_ID_-_Get_Event_Data":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Available Formats","type":"string","value":"@outputs('Get_a_row_by_ID_-_Get_Event_Data')?['body/msmedia_availableformats']"}]}},"Condition_-_Check_if_Available_Formats_contains_'Is_Online'":{"actions":{"Update_Media_Event_'Is_Online'_to_Yes":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_mediaevents","recordId":"@triggerOutputs()?['body/msmedia_mediaeventid']","item/msmedia_isonline":true},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Initialize_variable_-_Available_Formats":["Succeeded"]},"else":{"actions":{"Update_Media_Event_'Is_Online'_to_No":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_mediaevents","recordId":"@triggerOutputs()?['body/msmedia_mediaeventid']","item/msmedia_isonline":false},"authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@contains(variables('Available Formats'),'766860001')","@true"]},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}