CDS.solutions/MediaEventsVenues/Extracts/Base/Workflows/FL-MediaEvents-UpdateuserlocalStartdateorEnddatean-82EF7432-34B7-EB11-8236-000D3A13FCC6.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"msmedia_sharedcommondataserviceforapps_5264d"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_Media_Events_Startdate,_End_date_or_TimeZone_is_updated":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"msmedia_mediaevent","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"msmedia_eventtimezone,msmedia_startdate,msmedia_enddate"},"authentication":"@parameters('$authentication')"}}},"actions":{"Initialize_variable_-_StandardTimeZone":{"runAfter":{"Initialize_variable_-_TimeZoneCode":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"StandardTimeZone","type":"string"}]}},"Check_if_TimeZone_contains_Data":{"actions":{"Get_TimeZone_Definition":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"timezonedefinitions","$filter":"timezonecode eq @{int(outputs('Get_Media_Events')?['body/msmedia_eventtimezone'])}"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('Get_TimeZone_Definition')?['body/value']","actions":{"Set_variable_-_StandardTimeZone":{"runAfter":{},"type":"SetVariable","inputs":{"name":"StandardTimeZone","value":"@items('Apply_to_each')?['standardname']"}}},"runAfter":{"Get_TimeZone_Definition":["Succeeded"]},"type":"Foreach"},"Get_All_Event_Attractions":{"runAfter":{"Condition":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_eventattractions","$select":"msmedia_eventattractionid,msmedia_name,createdon,msmedia_startdateuserlocal,msmedia_startdate,_msmedia_mediaevent_value,msmedia_enddateuserlocal,msmedia_enddate","$filter":"_msmedia_mediaevent_value eq @{outputs('Get_Media_Events')?['body/msmedia_mediaeventid']} and msmedia_startdate ne null and msmedia_enddate ne null"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_-_Update_Attractions_user_local_start_date_and_end_date":{"foreach":"@outputs('Get_All_Event_Attractions')?['body/value']","actions":{"Convert_time_zone_-_Attraction_StartDate":{"runAfter":{},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@{formatDateTime(items('Apply_to_each_-_Update_Attractions_user_local_start_date_and_end_date')?['msmedia_startdate'],'g')}","formatString":"g","sourceTimeZone":"@variables('StandardTimeZone')","destinationTimeZone":"UTC"}},"Update_Attractions_Users_local_start_date_and_end_date":{"runAfter":{"Convert_time_zone_-_Attraction_EndDate":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_eventattractions","recordId":"@items('Apply_to_each_-_Update_Attractions_user_local_start_date_and_end_date')?['msmedia_eventattractionid']","item/msmedia_enddateuserlocal":"@body('Convert_time_zone_-_Attraction_EndDate')","item/msmedia_startdateuserlocal":"@body('Convert_time_zone_-_Attraction_StartDate')"},"authentication":"@parameters('$authentication')"}},"Convert_time_zone_-_Attraction_EndDate":{"runAfter":{"Convert_time_zone_-_Attraction_StartDate":["Succeeded"]},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@{formatDateTime(items('Apply_to_each_-_Update_Attractions_user_local_start_date_and_end_date')?['msmedia_enddate'],'g')}","formatString":"g","sourceTimeZone":"@variables('StandardTimeZone')","destinationTimeZone":"UTC"}}},"runAfter":{"Get_All_Event_Attractions":["Succeeded"]},"type":"Foreach"},"Condition":{"actions":{"Convert_time_zone_-_Enddate":{"runAfter":{},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@{formatDateTime(outputs('Get_Media_Events')?['body/msmedia_enddate'],'g')}","formatString":"g","sourceTimeZone":"@variables('StandardTimeZone')","destinationTimeZone":"UTC"}},"Convert_time_zone_-_Start_Date":{"runAfter":{"Convert_time_zone_-_Enddate":["Succeeded"]},"type":"Expression","kind":"ConvertTimeZone","inputs":{"baseTime":"@{formatDateTime(outputs('Get_Media_Events')?['body/msmedia_startdate'],'g')}","formatString":"g","sourceTimeZone":"@variables('StandardTimeZone')","destinationTimeZone":"UTC"}},"Update_Media_Events_user_local_startdate_and_enddate":{"runAfter":{"Convert_time_zone_-_Start_Date":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_mediaevents","recordId":"@triggerOutputs()?['body/msmedia_mediaeventid']","item/msmedia_enddateuserlocal":"@body('Convert_time_zone_-_Enddate')","item/msmedia_startdateuserlocal":"@body('Convert_time_zone_-_Start_Date')"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Apply_to_each":["Succeeded"]},"expression":{"and":[{"not":{"equals":["@outputs('Get_Media_Events')?['body/msmedia_startdate']","@null"]}},{"not":{"equals":["@outputs('Get_Media_Events')?['body/msmedia_enddate']","@null"]}}]},"type":"If"}},"runAfter":{"Initialize_variable_-_StandardTimeZone":["Succeeded"]},"expression":{"and":[{"not":{"equals":["@triggerOutputs()?['body/msmedia_eventtimezone']","@null"]}},{"equals":["",""]}]},"type":"If"},"Get_Media_Events":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_mediaevents","recordId":"@triggerOutputs()?['body/msmedia_mediaeventid']"},"authentication":"@parameters('$authentication')"}},"Initialize_variable_-_TimeZoneCode":{"runAfter":{"Get_Media_Events":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"TimeZoneCode","type":"integer","value":"@outputs('Get_Media_Events')?['body/msmedia_eventtimezone']"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}