CDS.solutions/MediaRegistrationPortal/Extracts/Base/Workflows/FL-MediaEvent-CreateCardImageWebFileForMediaEvent-A76D3F1F-1405-EC11-94EF-00224805B5DD.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"msmedia_sharedcommondataserviceforapps_e6ba4"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_row_is_added,_modified_or_deleted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"msmedia_mediaevent","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"msmedia_cardimage,msmedia_cardimage_url,msmedia_cardimageid,msmedia_cardimage_timestamp"},"authentication":"@parameters('$authentication')"}}},"actions":{"Get_a_row_by_ID_-_Media_Event":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_mediaevents","recordId":"@triggerOutputs()?['body/msmedia_mediaeventid']","$select":"msmedia_name,msmedia_cardimage"},"authentication":"@parameters('$authentication')"}},"Initialize_variable_-_Published_State":{"runAfter":{"Get_a_row_by_ID_-_Media_Event":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Published State","type":"string"}]}},"List_rows_-_Web_Files_based_where_Partial_URL_is_'eventcard-'_MediaEventId":{"runAfter":{"Initialize_variable_-_Published_State":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"adx_webfiles","$filter":"adx_partialurl eq 'eventcard-@{triggerOutputs()?['body/msmedia_mediaeventid']}'"},"authentication":"@parameters('$authentication')"}},"Apply_to_each":{"foreach":"@outputs('List_rows_-_Web_Files_based_where_Partial_URL_is_''eventcard-''_MediaEventId')?['body/value']","actions":{"Delete_a_row":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"adx_webfiles","recordId":"@items('Apply_to_each')?['adx_webfileid']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_rows_-_Web_Files_based_where_Partial_URL_is_'eventcard-'_MediaEventId":["Succeeded"]},"type":"Foreach"},"Condition_-_Media_Event's_Card_Image_is_not_null":{"actions":{"Download_a_file_or_an_image_-_Download_Card_Image":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetEntityFileImageFieldContent","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_mediaevents","recordId":"@triggerOutputs()?['body/msmedia_mediaeventid']","fileImageFieldName":"msmedia_cardimage","size":"full"},"authentication":"@parameters('$authentication')"}},"List_rows_-_Get_State_where_name_is_'Published'":{"runAfter":{"Download_a_file_or_an_image_-_Download_Card_Image":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"adx_publishingstates","$select":"adx_name,adx_publishingstateid","$filter":" adx_name eq 'Published' and _adx_websiteid_value eq 'cc58d6ac-28a0-4162-b01f-5093be85e113'"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_-_Published_State":{"foreach":"@outputs('List_rows_-_Get_State_where_name_is_''Published''')?['body/value']","actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Published State","value":"@items('Apply_to_each_-_Published_State')?['adx_publishingstateid']"}}},"runAfter":{"List_rows_-_Get_State_where_name_is_'Published'":["Succeeded"]},"type":"Foreach"},"Add_a_new_row_-_Create_Web_File":{"runAfter":{"Apply_to_each_-_Published_State":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"adx_webfiles","item/adx_hiddenfromsitemap":false,"item/adx_name":"CardImage - @{outputs('Get_a_row_by_ID_-_Media_Event')?['body/msmedia_name']}","item/adx_partialurl":"eventcard-@{triggerOutputs()?['body/msmedia_mediaeventid']}","item/adx_publishingstateid@odata.bind":"/adx_publishingstates(@{variables('Published State')})","item/adx_websiteid@odata.bind":"/adx_websites(cc58d6ac-28a0-4162-b01f-5093be85e113)","item/adx_contentdisposition":756150000,"item/adx_parentpageid@odata.bind":"/adx_webpages(30aa3590-712a-4b70-8b3e-00f88c64d6e8)"},"authentication":"@parameters('$authentication')"}},"Add_a_new_row_-_Create_Note_with_Image_attachment_associated_to_Web_File":{"runAfter":{"Add_a_new_row_-_Create_Web_File":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"annotations","item/subject":"CardImage - @{outputs('Get_a_row_by_ID_-_Media_Event')?['body/msmedia_name']}","item/isdocument":true,"item/documentbody":"@outputs('Download_a_file_or_an_image_-_Download_Card_Image')?['body/$content']","item/filename":"@{outputs('Get_a_row_by_ID_-_Media_Event')?['body/msmedia_name']}.png","item/objectid_adx_webfile@odata.bind":"@outputs('Add_a_new_row_-_Create_Web_File')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"Apply_to_each":["Succeeded"]},"expression":{"not":{"equals":["@outputs('Get_a_row_by_ID_-_Media_Event')?['body/msmedia_cardimage']","@null"]}},"type":"If"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}