CDS.solutions/MediaRegistrationPortal/Extracts/Base/Workflows/FL-MediaRegistration-UpdateDataofMediaRegistration-FCD8FD86-7E7D-EB11-A812-00224802914C.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"msmedia_sharedcommondataserviceforapps_e6ba4"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_record_is_updated":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":3,"subscriptionRequest/entityname":"msmedia_guest","subscriptionRequest/scope":4},"authentication":"@parameters('$authentication')"}}},"actions":{"Condition-MediaEvent_Equals_LastRegisteredEvent":{"actions":{"Apply_to_each_-_Update_Media_Registration":{"foreach":"@outputs('List_rows-Media_Registrations')?['body/value']","actions":{"Update_a_row_of_Media_Registration":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_mediaregistrations","recordId":"@items('Apply_to_each_-_Update_Media_Registration')?['msmedia_mediaregistrationid']","item/msmedia_registrationstatus":766860003,"item/msmedia_lastupdatedon":"@utcNow()"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"type":"Foreach"}},"runAfter":{"List_rows-Media_Registrations":["Succeeded"]},"else":{"actions":{"Add_a_new_row_in_Media_Registration":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_mediaregistrations","item/msmedia_Contact@odata.bind":"/contacts(@{triggerOutputs()?['body/_msmedia_contact_value']})","item/msmedia_registrationstatus":766860003,"item/msmedia_Guest@odata.bind":"/msmedia_guests(@{triggerOutputs()?['body/msmedia_guestid']})","item/msmedia_isanonymous":false,"item/msmedia_lastupdatedon":"@utcNow()","item/msmedia_MediaEvent@odata.bind":"/msmedia_mediaevents(@{triggerOutputs()?['body/_msmedia_lastregisteredevent_value']})","item/msmedia_registeredon":"@utcNow()","item/msmedia_ticketssent":false},"authentication":"@parameters('$authentication')"}}}},"expression":{"greater":["@length(outputs('List_rows-Media_Registrations')?['body/value'])",0]},"type":"If"},"List_rows-Media_Registrations":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_mediaregistrations","fetchXml":"<fetch version=\"1.0\" output-format=\"xml-platform\" mapping=\"logical\" distinct=\"false\">\n<entity name=\"msmedia_mediaregistration\">\n<attribute name=\"msmedia_mediaregistrationid\" />\n<attribute name=\"msmedia_name\" />\n<attribute name=\"createdon\" />\n<attribute name=\"ownerid\" />\n<attribute name=\"modifiedon\" />\n<attribute name=\"modifiedby\" />\n<attribute name=\"msmedia_mediaevent\" />\n<attribute name=\"msmedia_guest\" />\n<attribute name=\"msmedia_contact\" />\n<order attribute=\"msmedia_name\" descending=\"false\" />\n<filter type=\"and\">\n<condition attribute=\"msmedia_guest\" operator=\"eq\"  uitype=\"msmedia_guest\" value=\"@{triggerOutputs()?['body/msmedia_guestid']}\" />\n<condition attribute=\"msmedia_mediaevent\" operator=\"eq\"  uitype=\"msmedia_mediaevent\" value=\"@{triggerOutputs()?['body/_msmedia_lastregisteredevent_value']}\" />\n<condition attribute=\"msmedia_eventattraction\" operator=\"null\" />\n</filter>\n</entity>\n</fetch>"},"authentication":"@parameters('$authentication')"}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}