CDS.solutions/MediaRegistrationPortal/Extracts/Base/Workflows/FL-MediaEvent-CreateBannerImageWebFileForMediaEven-CE4C380D-34BF-EB11-8236-0022480A2F8F.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"msmedia_sharedcommondataserviceforapps_e6ba4"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"When_a_Media_Event's__Portal_Banner_is_added,_modified_or_deleted":{"type":"OpenApiConnectionWebhook","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"SubscribeWebhookTrigger","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"subscriptionRequest/message":4,"subscriptionRequest/entityname":"msmedia_mediaevent","subscriptionRequest/scope":4,"subscriptionRequest/filteringattributes":"msmedia_registrationportalbannerimage,msmedia_registrationportalbannerimageid,msmedia_registrationportalbannerimage_url,msmedia_registrationportalbannerimage_timestamp"},"authentication":"@parameters('$authentication')"}}},"actions":{"Condition_-_Media_Event's_Portal_Banner_is_not_null":{"actions":{"Add_a_new_row_-_Create_Web_File":{"runAfter":{"Apply_to_each_-_Published_State":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"adx_webfiles","item/adx_hiddenfromsitemap":false,"item/adx_name":"Banner - @{outputs('Get_a_row_by_ID_-_Media_Event')?['body/msmedia_name']}","item/adx_partialurl":"eventbanner-@{triggerOutputs()?['body/msmedia_mediaeventid']}","item/adx_publishingstateid@odata.bind":"/adx_publishingstates(@{variables('Published State')})","item/adx_websiteid@odata.bind":"/adx_websites(cc58d6ac-28a0-4162-b01f-5093be85e113)","item/adx_contentdisposition":756150000,"item/adx_parentpageid@odata.bind":"/adx_webpages(30aa3590-712a-4b70-8b3e-00f88c64d6e8)"},"authentication":"@parameters('$authentication')"}},"Add_a_new_row_-_Create_Note_with_Image_attachment_associated_to_Web_File":{"runAfter":{"Add_a_new_row_-_Create_Web_File":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"annotations","item/subject":"Banner - @{outputs('Get_a_row_by_ID_-_Media_Event')?['body/msmedia_name']}","item/isdocument":true,"item/documentbody":"@outputs('Download_a_file_or_an_image_-_Download_Event_banner')?['body/$content']","item/filename":"@{outputs('Get_a_row_by_ID_-_Media_Event')?['body/msmedia_name']}.png","item/objectid_adx_webfile@odata.bind":"@outputs('Add_a_new_row_-_Create_Web_File')?['body/@odata.id']"},"authentication":"@parameters('$authentication')"}},"Download_a_file_or_an_image_-_Download_Event_banner":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetEntityFileImageFieldContent","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_mediaevents","recordId":"@triggerOutputs()?['body/msmedia_mediaeventid']","fileImageFieldName":"msmedia_registrationportalbannerimage","size":"full"},"authentication":"@parameters('$authentication')"}},"List_rows_-_Get_State_where_name_is_'Published'":{"runAfter":{"Download_a_file_or_an_image_-_Download_Event_banner":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"adx_publishingstates","$select":"adx_name,adx_publishingstateid","$filter":" adx_name eq 'Published' and _adx_websiteid_value eq 'cc58d6ac-28a0-4162-b01f-5093be85e113'"},"authentication":"@parameters('$authentication')"}},"Apply_to_each_-_Published_State":{"foreach":"@outputs('List_rows_-_Get_State_where_name_is_''Published''')?['body/value']","actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Published State","value":"@items('Apply_to_each_-_Published_State')?['adx_publishingstateid']"}}},"runAfter":{"List_rows_-_Get_State_where_name_is_'Published'":["Succeeded"]},"type":"Foreach"}},"runAfter":{"Apply_to_each_-_Web_File":["Succeeded"]},"expression":{"not":{"equals":["@outputs('Get_a_row_by_ID_-_Media_Event')?['body/msmedia_registrationportalbannerimageid']","@null"]}},"type":"If"},"Apply_to_each_-_Web_File":{"foreach":"@outputs('List_rows_-_Web_Files_based_where_Partial_URL_is_''eventbanner-''_MediaEventId')?['body/value']","actions":{"Delete_a_row":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"adx_webfiles","recordId":"@items('Apply_to_each_-_Web_File')?['adx_webfileid']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{"List_rows_-_Web_Files_based_where_Partial_URL_is_'eventbanner-'_MediaEventId":["Succeeded"]},"type":"Foreach"},"Get_a_row_by_ID_-_Media_Event":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_mediaevents","recordId":"@triggerOutputs()?['body/msmedia_mediaeventid']","$select":"msmedia_name,msmedia_registrationportalbannerimageid"},"authentication":"@parameters('$authentication')"}},"List_rows_-_Web_Files_based_where_Partial_URL_is_'eventbanner-'_MediaEventId":{"runAfter":{"Initialize_variable_-_Published_State":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"adx_webfiles","$filter":"adx_partialurl eq 'eventbanner-@{triggerOutputs()?['body/msmedia_mediaeventid']}'"},"authentication":"@parameters('$authentication')"}},"Initialize_variable_-_Published_State":{"runAfter":{"Get_a_row_by_ID_-_Media_Event":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Published State","type":"string"}]}}},"outputs":{}}},"schemaVersion":"1.0.0.0"}