CDS.solutions/MediaRegistrationPortal/Extracts/Base/Workflows/FL-ManualTrigger-CreateBannerImageWebFilesforexist-1C4E49BF-ECBF-EB11-8236-0022480A2F8F.json
{"properties":{"connectionReferences":{"shared_commondataserviceforapps":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"msmedia_sharedcommondataserviceforapps_e6ba4"},"api":{"name":"shared_commondataserviceforapps"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"List_rows_-_Get_all_active_Media_Events":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_mediaevents","$select":"msmedia_name,msmedia_registrationportalbannerimageid,msmedia_mediaeventid,msmedia_cardimageid","$filter":"statecode eq 0"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Initialize_variable_-_Published_State":{"runAfter":{"List_rows_-_Get_all_active_Media_Events":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Published State","type":"string"}]}},"Apply_to_each_-_Media_Event_Banner":{"foreach":"@outputs('List_rows_-_Get_all_active_Media_Events')?['body/value']","actions":{"List_rows_-Web_Files_based_where_Partial_URL_is_'eventbanner-'_MediaEventId":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"adx_webfiles","$select":"adx_webfileid","$filter":"adx_partialurl eq 'eventbanner-@{items('Apply_to_each_-_Media_Event_Banner')?['msmedia_mediaeventid']}'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_-_Web_File":{"foreach":"@outputs('List_rows_-Web_Files_based_where_Partial_URL_is_''eventbanner-''_MediaEventId')?['body/value']","actions":{"Delete_a_row":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"adx_webfiles","recordId":"@items('Apply_to_each_-_Web_File')?['adx_webfileid']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"List_rows_-Web_Files_based_where_Partial_URL_is_'eventbanner-'_MediaEventId":["Succeeded"]},"type":"Foreach"},"Condition_-__Media_Event's_Portal_Banner_is_not_null":{"actions":{"Download_a_file_or_an_image_-_Download_Event_banner":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetEntityFileImageFieldContent","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_mediaevents","recordId":"@items('Apply_to_each_-_Media_Event_Banner')?['msmedia_mediaeventid']","fileImageFieldName":"msmedia_registrationportalbannerimage","size":"full"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"List_rows_-_Get_State_where_name_is_'Published'":{"runAfter":{"Download_a_file_or_an_image_-_Download_Event_banner":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"adx_publishingstates","$select":"adx_name,adx_publishingstateid","$filter":" adx_name eq 'Published' and _adx_websiteid_value eq 'cc58d6ac-28a0-4162-b01f-5093be85e113'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_-__Published_State":{"foreach":"@outputs('List_rows_-_Get_State_where_name_is_''Published''')?['body/value']","actions":{"Set_variable":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Published State","value":"@items('Apply_to_each_-__Published_State')?['adx_publishingstateid']"}}},"runAfter":{"List_rows_-_Get_State_where_name_is_'Published'":["Succeeded"]},"type":"Foreach"},"Add_a_new_row_-_Create_Web_File":{"runAfter":{"Apply_to_each_-__Published_State":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"adx_webfiles","item/adx_hiddenfromsitemap":false,"item/adx_name":"Banner - @{items('Apply_to_each_-_Media_Event_Banner')?['msmedia_name']}","item/adx_partialurl":"eventbanner-@{items('Apply_to_each_-_Media_Event_Banner')?['msmedia_mediaeventid']}","item/adx_publishingstateid@odata.bind":"/adx_publishingstates(@{variables('Published State')})","item/adx_websiteid@odata.bind":"/adx_websites(cc58d6ac-28a0-4162-b01f-5093be85e113)","item/adx_contentdisposition":756150000,"item/adx_parentpageid@odata.bind":"/adx_webpages(30aa3590-712a-4b70-8b3e-00f88c64d6e8)"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Add_a_new_row_-_Create_Note_with_Image_attachment_associated_to_Web_File":{"runAfter":{"Add_a_new_row_-_Create_Web_File":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"annotations","item/subject":"Banner - @{items('Apply_to_each_-_Media_Event_Banner')?['msmedia_name']}","item/isdocument":true,"item/documentbody":"@outputs('Download_a_file_or_an_image_-_Download_Event_banner')?['body/$content']","item/filename":"@{items('Apply_to_each_-_Media_Event_Banner')?['msmedia_name']}.png","item/objectid_adx_webfile@odata.bind":"@outputs('Add_a_new_row_-_Create_Web_File')?['body/@odata.id']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Apply_to_each_-_Web_File":["Succeeded"]},"expression":{"not":{"equals":["","@null"]}},"type":"If"}},"runAfter":{"Initialize_variable_-_Published_State":["Succeeded"]},"type":"Foreach"},"Apply_to_each_-_Media_Event_Card_Image":{"foreach":"@outputs('List_rows_-_Get_all_active_Media_Events')?['body/value']","actions":{"List_rows_-_Web_Files_based_where_Partial_URL_is_'eventcard-'_MediaEventId":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"adx_webfiles","$select":"adx_webfileid","$filter":"adx_partialurl eq 'eventcard-@{items('Apply_to_each_-_Media_Event_Card_Image')?['msmedia_mediaeventid']}'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_-_Card_Web_File":{"foreach":"@outputs('List_rows_-_Web_Files_based_where_Partial_URL_is_''eventcard-''_MediaEventId')?['body/value']","actions":{"Delete_a_row_-_Card_Image":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"DeleteRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"adx_webfiles","recordId":"@items('Apply_to_each_-_Card_Web_File')?['adx_webfileid']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"List_rows_-_Web_Files_based_where_Partial_URL_is_'eventcard-'_MediaEventId":["Succeeded"]},"type":"Foreach"},"Condition_-__Media_Event's_Card_Image_is_not_null":{"actions":{"Download_a_file_or_an_image_-_Download_Card_Image_":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"GetEntityFileImageFieldContent","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_mediaevents","recordId":"@items('Apply_to_each_-_Media_Event_Card_Image')?['msmedia_mediaeventid']","fileImageFieldName":"msmedia_cardimage","size":"full"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"List_rows_-_Get_State_where_name_is__'Published'":{"runAfter":{"Download_a_file_or_an_image_-_Download_Card_Image_":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"adx_publishingstates","$select":"adx_name,adx_publishingstateid","$filter":" adx_name eq 'Published' and _adx_websiteid_value eq 'cc58d6ac-28a0-4162-b01f-5093be85e113'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_-__Published_State_":{"foreach":"@outputs('List_rows_-_Get_State_where_name_is__''Published''')?['body/value']","actions":{"Set_variable_2":{"runAfter":{},"type":"SetVariable","inputs":{"name":"Published State","value":"@items('Apply_to_each_-__Published_State_')?['adx_publishingstateid']"}}},"runAfter":{"List_rows_-_Get_State_where_name_is__'Published'":["Succeeded"]},"type":"Foreach"},"Add_a_new_row_-_Create_Card_Image_Web_File_":{"runAfter":{"Apply_to_each_-__Published_State_":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"adx_webfiles","item/adx_hiddenfromsitemap":false,"item/adx_name":"CardImage - @{items('Apply_to_each_-_Media_Event_Card_Image')?['msmedia_name']}","item/adx_partialurl":"eventcard-@{items('Apply_to_each_-_Media_Event_Card_Image')?['msmedia_mediaeventid']}","item/adx_publishingstateid@odata.bind":"/adx_publishingstates(@{variables('Published State')})","item/adx_websiteid@odata.bind":"/adx_websites(cc58d6ac-28a0-4162-b01f-5093be85e113)","item/adx_contentdisposition":756150000,"item/adx_parentpageid@odata.bind":"/adx_webpages(30aa3590-712a-4b70-8b3e-00f88c64d6e8)"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Add_a_new_row_-_Create_Note_with_Image_attachment_associated_to_Card_Web_File":{"runAfter":{"Add_a_new_row_-_Create_Card_Image_Web_File_":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps","operationId":"CreateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"annotations","item/subject":"Banner - @{items('Apply_to_each_-_Media_Event_Card_Image')?['msmedia_name']}","item/isdocument":true,"item/documentbody":"@outputs('Download_a_file_or_an_image_-_Download_Card_Image_')?['body/$content']","item/filename":"@{items('Apply_to_each_-_Media_Event_Card_Image')?['msmedia_name']}.png","item/objectid_adx_webfile@odata.bind":"@outputs('Add_a_new_row_-_Create_Card_Image_Web_File_')?['body/@odata.id']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Apply_to_each_-_Card_Web_File":["Succeeded"]},"expression":{"not":{"equals":["","@null"]}},"type":"If"}},"runAfter":{"Initialize_variable_-_Published_State":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}