CDS.solutions/MediaAppsTeamsIntegration/Extracts/Base/Workflows/CreateTeamsMeeting-DE5CEE9D-DE81-EB11-A812-0022481F4E15.json
{"properties":{"connectionReferences":{"shared_commondataservice":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"msmedia_sharedcommondataservice_1222f"},"api":{"name":"shared_commondataservice"}},"shared_commondataserviceforapps_1":{"runtimeSource":"embedded","connection":{"connectionReferenceLogicalName":"new_sharedcommondataserviceforapps_9ca83"},"api":{"name":"shared_commondataserviceforapps"}},"shared_msmedia-5fmedia-20teams-20integration-5fb75df542beea4daf_1":{"runtimeSource":"invoker","connection":{"connectionReferenceLogicalName":"msmedia_sharedmsmedia5fmedia20teams20integration5fb75df542beea4daf_4fde1"},"api":{"name":"shared_msmedia-5Fmedia-20teams-20integration-5Fb75df542beea4daf","logicalName":"msmedia_5Fmedia-20teams-20integration"}}},"definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"splitOn":"@triggerBody()['rows']","type":"Request","kind":"ApiConnection","inputs":{"schema":{"type":"object","properties":{"rows":{"type":"array","items":{"type":"object","properties":{"entity":{"type":"object","properties":{"msmedia_eventattractionid":{"title":"Event Attraction","type":"string","format":"guid"}},"required":["msmedia_eventattractionid"]}},"required":["entity"]}}},"required":["rows"]},"host":{"connection":{"name":"@parameters('$connections')['shared_commondataservice']['connectionId']"}},"operationId":"GetOnNewItems_V2","parameters":{"dataset":"default.cds","table":"msmedia_eventattractions"}}}},"actions":{"Get_Event_Attractions":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_eventattractions","recordId":"@triggerBody()?['entity']?['msmedia_eventattractionid']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Initialize_variable_-_StreamingType":{"runAfter":{"Apply_to_each_-_Setting_TimeZone_Standard_name":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"StreamingType","type":"string","value":"@{outputs('Get_Event_Attractions')?['body/msmedia_streamingtype']}"}]}},"Initialize_variable_-_IsBroadcast":{"runAfter":{"Initialize_variable_-_StreamingType":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"IsBroadCast","type":"boolean"}]}},"Initialize_variable_-_UserId":{"runAfter":{"Initialize_variable_-_IsBroadcast":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"UserId","type":"string"}]}},"Check_if_Streaming_type_is_Teams_Live_Event":{"actions":{"Set_variable_IsBroadCast_to_true":{"runAfter":{},"type":"SetVariable","inputs":{"name":"IsBroadCast","value":true}}},"runAfter":{"Initialize_variable_-_UserId":["Succeeded"]},"else":{"actions":{"Set_variable_IsBroadCast_to_false":{"runAfter":{},"type":"SetVariable","inputs":{"name":"IsBroadCast","value":false}}}},"expression":{"equals":["@variables('StreamingType')",766860001]},"type":"If"},"Check_if_Start_Date_and_End_Date_contains_Data":{"actions":{"Update_EventRegistration_with_Teams_Meeting_Id_and_URL":{"runAfter":{"Apply_to_each_-_Set_UserId":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"UpdateRecord","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_eventattractions","recordId":"@outputs('Get_Event_Attractions')?['body/msmedia_eventattractionid']","item/msmedia_eventowner@odata.bind":"/systemusers(@{variables('UserId')})","item/msmedia_joinurl":"@body('Parse_JSON_-_OnlineMeeting_Response')?['joinUrl']","item/msmedia_teamseventid":"@body('Parse_JSON_-_OnlineMeeting_Response')?['id']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Apply_to_each_-_Set_UserId":{"foreach":"@outputs('Get_Users_record_from_Username')?['body/value']","actions":{"Set_variable_-_UserId":{"runAfter":{},"type":"SetVariable","inputs":{"name":"UserId","value":"@items('Apply_to_each_-_Set_UserId')?['systemuserid']"}}},"runAfter":{"Get_Users_record_from_Username":["Succeeded"]},"type":"Foreach"},"Get_Users_record_from_Username":{"runAfter":{"Create_Event":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"systemusers","$select":"fullname,_businessunitid_value,title,systemuserid,domainname,internalemailaddress","$filter":"domainname eq  '@{body('Parse_JSON_-_Organizers_from_participants')?['upn']}'"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Parse_JSON_-_Organizers_from_participants":{"runAfter":{"Parse_JSON_-_OnlineMeeting_Response":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('Parse_JSON_-_OnlineMeeting_Response')?['participants']?['organizer']","schema":{"type":"object","properties":{"upn":{"type":"string"},"role":{"type":"string"},"identity":{"type":"object","properties":{"phone":{},"guest":{},"encrypted":{},"onPremises":{},"applicationInstance":{},"application":{},"device":{},"user":{"type":"object","properties":{"id":{"type":"string"},"displayName":{},"tenantId":{"type":"string"},"identityProvider":{"type":"string"}}}}}}}}},"Parse_JSON_-_OnlineMeeting_Response":{"runAfter":{"Compose_-_OnlineMeeting_Response":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@outputs('Compose_-_OnlineMeeting_Response')","schema":{"type":"object","properties":{"@@odata.context":{"type":"string"},"id":{"type":"string"},"creationDateTime":{"type":"string"},"startDateTime":{"type":"string"},"endDateTime":{"type":"string"},"joinUrl":{"type":"string"},"joinWebUrl":{"type":"string"},"isBroadcast":{"type":"boolean"},"autoAdmittedUsers":{"type":"string"},"isEntryExitAnnounced":{"type":"boolean"},"allowedPresenters":{"type":"string"},"capabilities":{"type":"array"},"participants":{"type":"object","properties":{"organizer":{"type":"object","properties":{"upn":{"type":"string"},"role":{"type":"string"},"identity":{"type":"object","properties":{"phone":{},"guest":{},"encrypted":{},"onPremises":{},"applicationInstance":{},"application":{},"device":{},"user":{"type":"object","properties":{"id":{"type":"string"},"displayName":{},"tenantId":{"type":"string"},"identityProvider":{"type":"string"}}}}}}},"attendees":{"type":"array"}}},"lobbyBypassSettings":{"type":"object","properties":{"scope":{"type":"string"},"isDialInBypassEnabled":{"type":"boolean"}}},"chatInfo":{"type":"object","properties":{"threadId":{"type":"string"},"messageId":{"type":"string"},"replyChainMessageId":{}}},"joinInformation":{"type":"object","properties":{"content":{"type":["string","null"]},"contentType":{"type":"string"}}}}}}},"Compose_-_OnlineMeeting_Response":{"runAfter":{"Create_Online_Meeting":["Succeeded"]},"type":"Compose","inputs":"@outputs('Create_Online_Meeting')?['body']"},"Create_Online_Meeting":{"runAfter":{},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_msmedia-5fmedia-20teams-20integration-5fb75df542beea4daf_1","operationId":"CreateOnlineMeeting","apiId":"/providers/Microsoft.PowerApps/apis/shared_msmedia-5Fmedia-20teams-20integration-5Fb75df542beea4daf"},"parameters":{"Content-Type":"application/json","body/startDateTime":"@outputs('Get_Media_Events')?['body/msmedia_startdate']","body/endDateTime":"@outputs('Get_Media_Events')?['body/msmedia_enddate']","body/isBroadcast":"@variables('IsBroadCast')","body/subject":"@outputs('Get_Event_Attractions')?['body/msmedia_name']","body/isEntryExitAnnounced":true,"body/allowedPresenters":"roleIsPresenter","body/lobbyBypassSettings/scope":"everyone","body/lobbyBypassSettings/isDialInBypassEnabled":false},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Create_Event":{"runAfter":{"Parse_JSON_-_Organizers_from_participants":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_msmedia-5fmedia-20teams-20integration-5fb75df542beea4daf_1","operationId":"CreateEvent","apiId":"/providers/Microsoft.PowerApps/apis/shared_msmedia-5Fmedia-20teams-20integration-5Fb75df542beea4daf"},"parameters":{"Content-type":"application/json","body/subject":"@outputs('Get_Event_Attractions')?['body/msmedia_name']","body/body/contentType":"html","body/body/content":"@outputs('Get_Event_Attractions')?['body/msmedia_description']","body/isOnlineMeeting":true,"body/onlineMeetingProvider":"teamsForBusiness","body/onlineMeetingUrl":"@body('Parse_JSON_-_OnlineMeeting_Response')?['joinUrl']","body/start/dateTime":"@formatDateTime(outputs('Get_Event_Attractions')?['body/msmedia_startdate'],'g')","body/start/timeZone":"@variables('TimeZoneStandardName')","body/end/dateTime":"@formatDateTime(outputs('Get_Event_Attractions')?['body/msmedia_enddate'],'g')","body/end/timeZone":"@variables('TimeZoneStandardName')","body/location/displayName":"Teams Meeting","body/attendees":[{"emailAddress/address":"@body('Parse_JSON_-_Organizers_from_participants')?['upn']","emailAddress/name":"@body('Parse_JSON_-_Organizers_from_participants')?['identity']?['user']?['displayName']","type":"required"}],"body/allowNewTimeProposals":false},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"Check_if_Streaming_type_is_Teams_Live_Event":["Succeeded"]},"expression":{"and":[{"not":{"equals":["@outputs('Get_Event_Attractions')?['body/msmedia_startdate']","@null"]}},{"not":{"equals":["@outputs('Get_Event_Attractions')?['body/msmedia_enddate']","@null"]}},{"equals":["@outputs('Get_Event_Attractions')?['body/msmedia_joinurl']","@null"]},{"equals":["@outputs('Get_Event_Attractions')?['body/msmedia_teamseventid']","@null"]}]},"type":"If"},"Get_Media_Events":{"runAfter":{"Get_Event_Attractions":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"GetItem","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"msmedia_mediaevents","recordId":"@outputs('Get_Event_Attractions')?['body/_msmedia_mediaevent_value']"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_TimeZone_Definition":{"runAfter":{"Initialize_variable_-_TimeZoneStandardName":["Succeeded"]},"type":"OpenApiConnection","inputs":{"host":{"connectionName":"shared_commondataserviceforapps_1","operationId":"ListRecords","apiId":"/providers/Microsoft.PowerApps/apis/shared_commondataserviceforapps"},"parameters":{"entityName":"timezonedefinitions","$filter":"timezonecode eq @{outputs('Get_Media_Events')?['body/msmedia_eventtimezone']}"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Initialize_variable_-_TimeZoneStandardName":{"runAfter":{"Get_Media_Events":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"TimeZoneStandardName","type":"string"}]}},"Apply_to_each_-_Setting_TimeZone_Standard_name":{"foreach":"@outputs('Get_TimeZone_Definition')?['body/value']","actions":{"Set_variable_-_TimeZone_Standard_Name":{"runAfter":{},"type":"SetVariable","inputs":{"name":"TimeZoneStandardName","value":"@items('Apply_to_each_-_Setting_TimeZone_Standard_name')?['standardname']"}}},"runAfter":{"Get_TimeZone_Definition":["Succeeded"]},"type":"Foreach"}},"outputs":{}}},"schemaVersion":"1.0.0.0"}